.square{
    width: 100px;
    height: 100px;
    border: 1px solid #222222;
    background: burlywood;
    cursor: pointer;
    outline: none;
    font-size: 80px;
    display: flex;
    justify-content: center;

}
.square:hover{
    background: aliceblue;
}